<%= link_to "New Dealership", "/dealerships/new" %>

<h1>Dealerships:</h1>
<% @dealerships.each do |dealer| %>
<p>Name: <%= link_to dealer.name, "/dealerships/#{dealer.id}" %> <p>
<p>Created: <%= dealer.created_at %><p>
<% end  %>
