<h1>Dealership:</h1>

<p>Name: <%= @dealership.name %> </p>
<p>City Located In: <%= @dealership.city %> </p>
<p>Employee Count: <%= @dealership.employees %> </p>
<p>Offers Financing: <%= @dealership.offer_financing %> </p>
