<h1>Welcome to Relational Rails</h1>


<h3>Gyms & Machines</h3>
<ul>
  <li><a href="/gyms">Gyms Index</a></li>
  <li><a href="/machines">Machines Index</a></li>
</ul>

<h3>Dealerships & Cars</h3>
<ul>
  <li><a href="/dealerships">Dealerships Index</a></li>
  <li><a href="/cars">Cars Index</a></li>
</ul>
