<ul>
  <li><a href="/gyms">Gyms Index</a></li>
  <li><a href="/machines">Machines Index</a></li>


  <li><a href="/dealerships">Dealerships Index</a></li>
  <li><a href="/cars">Cars Index</a></li>
</ul>

<a href="/gyms">Gym Index</a>
<h3><%= @gym.name %></h3>
<p>City: <%= @gym.city %></p>
<p>Capacity: <%= @gym.capacity %></p>
<p>Is open: <%= @gym.is_open %></p>
