<h1>Machines at the Gym</h1>

<%= link_to "Create Machine", "/gyms/#{@gym.id}/machines/new" %>
<%= link_to "Sort Alphabetically", "/gyms/#{@gym.id}/machines?sort_by=name" %>

<% @machines.each do |machine| %>
  <h3><%= link_to machine.name, "/machines/#{machine.id}" %></h3>
  <p><%= link_to "Edit #{machine.name}", "/machines/#{machine.id}/edit" %></p>
  <p>---------------------</p>
<% end %>
