<ul>
  <li><a href="/dealerships">Dealerships Index</a></li>
  <li><a href="/cars">Cars Index</a></li>
</ul>

<h1>Car:</h1>

<p>Name: <%= @car.name %> </p>
<p>City Located In: <%= @car.body_style %> </p>
<p>Employee Count: <%= @car.mpg %> </p>
<p>Offers Financing: <%= @car.electrical %> </p>
